

/* ====================== [ Start Responsive ] ====================== */

@media screen and (max-width: $desk-lg-screen) {



}

@media screen and (max-width: $desk-md-screen) {

    .md-mb10 {
        margin-bottom: 10px;
    }

    .md-mb15 {
        margin-bottom: 15px;
    }

    .md-mb20 {
        margin-bottom: 20px;
    }

    .md-mb30 {
        margin-bottom: 30px;
    }

    .md-mb40 {
        margin-bottom: 40px;
    }

    .md-mb50 {
        margin-bottom: 50px !important;
    }

    .md-mb80 {
        margin-bottom: 80px;
    }

    .md-no-mrg{
        margin: 0 !important;
    }

    .md-pb10 {
        padding-bottom: 10px;
    }

    .md-pb20 {
        padding-bottom: 20px;
    }

    .md-pb30 {
        padding-bottom: 30px;
    }

    .md-pb40 {
        padding-bottom: 40px;
    }

    .md-pb50 {
        padding-bottom: 50px;
    }

    .md-pb60 {
        padding-bottom: 60px;
    }

    .md-pb70 {
        padding-bottom: 70px;
    }

    .md-pb80 {
        padding-bottom: 80px;
    }

    .md-pt80 {
        padding-top: 80px !important;
    }

    .md-no-pad{
        padding: 0 !important;
    }

    .md-center{
        text-align: center !important;
    }

    .order-md-1{
        order: 1 !important;
    }

    .order-md-2{
        order: 2 !important;
    }

    .order-md-3{
        order: 3 !important;
    }

    .order-md-4{
        order: 4 !important;
    }

    .md-hide{
        display: none;
    }

    .justify-end{
        justify-content: flex-start !important;

        .vew-all{
            margin-left: 25px;
            margin-top: 25px;
        }

        .swiper-controls{
            margin-top: 30px;
        }

        .ml-auto{
            margin-left: 0;
            margin-top: 30px;
        }
    }

    .sec-head{

        .justify-content-end{
            display: block !important;
            margin-top: 30px;
        }
    }

    .sec-head .lg-title h2{
        font-size: 80px;
    }

    .lg-bold-head h2{
        font-size: 120px;
    }

    .row{

        &.sm-marg{
            margin-left: -15px;
            margin-right: -15px;
    
            >*{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    
        &.stand-marg{
            margin-left: -15px;
            margin-right: -15px;
    
            >*{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    
        &.md-marg{
            margin-left: -15px;
            margin-right: -15px;
    
            >*{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    
        &.lg-marg{
            margin-left: -15px;
            margin-right: -15px;
    
            >*{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    
        &.xlg-marg{
            margin-left: -15px;
            margin-right: -15px;
    
            >*{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    
        &.xxlg-marg{
            margin-left: -15px;
            margin-right: -15px;
    
            >*{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    h1{
        font-size: 50px;
    }
    
    h2{
        font-size: 40px;
    }
    
    h3{
        font-size: 30px;
    }
    
    h4{
        font-size: 28px;
    }
    
    h5{
        font-size: 23px;
    }
    
    h6{
        font-size: 20px;
    }

    .fz-120{
        font-size: 90px !important;
    }

    .fz-80{
        font-size: 60px !important;
    }

    .fz-70{
        font-size: 50px !important;
    }

    // menu

    .navbar .logo:after{
        display: none;
    }

    .navbar .contact-button{
        display: none;
    }

    .navbar .mega-menu .item-img .img{
        display: none;
    }

    .navbar{
        padding-top: 15px;
        padding-bottom: 15px;

        .navbar-collapse {
            max-height: 440px;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &.nav-scroll{
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .container{
            padding: 0;
            width: 100%;
            max-width: 100%;
        }

        .mega-menu .container{
            padding: 20px 10px !important;
        }

        .logo{
            max-width: 80px !important;
            margin-left: 30px;
        }

        .navbar-collapse{
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            margin-top: 15px;
        }

        .navbar-toggler{
            font-size: 20px;
            border-radius: 0;
            padding: 0;
            margin-right: 30px;

            &:focus{
                box-shadow: none;
                border: 0;
                outline: none;
            }
        }

        .dropdown-menu{
            display: none;

            &.show{
                display: block;
                position: static;
            }
        }

        .dropdown-menu .dropdown-item .dropdown-side{
            display: none;
            position: static;
            width: 100%;
            margin-top: 15px;

            &.show{
                display: block;
            }
        }

        .navbar-nav{

            .nav-link{
                padding: 15px 30px 10px;
                margin: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            .nav-item{

                &:last-of-type{

                    .nav-link{
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }

            .mega-menu{
                width: auto;
                position: static;
                padding: 0;

                .item-img{
                    font-size: 14px;
                    transition: all .4s;
                    padding: 10px 25px;
                    position: relative;

                    .mt-15{
                        margin-top: 0 !important;
                    }
        
                    &:after{
                        content: '';
                        width: 0px;
                        height: 1px;
                        background: #fff;
                        position: absolute;
                        left: 10px;
                        top: 18px;
                        transition: all .4s;
                    }
            
                    &:hover{
                        padding-left: 30px;
                        background: transparent;
                        
                        &:after{
                            width: 10px;
                        }
                    }
                }
            }
        }
    }

    .navbar .box-dark{
        padding: 15px 0;
    }

    // header

    .header-business .b-img .vid{
        display: none;
    }

    .header-creative .main-img{
        height: 450px;
        bottom: -150px;
    }

    .dstudio .caption .v-img{
        display: none;
    }

    .dstudio {

        .caption{

            h1{
                font-size: 160px;
                letter-spacing: -10px;
            }
        }

        .img-1{
            width: 135px;
            height: 120px;
        }

        .img-2{
            right: 120px;
        }

        .img-3{
            left: 70px;
            height: 340px;
        }
    }

    .header-digital .img-fixed{
        right: -100px;
    }

    .header-digital .best-clients{
        margin-left: 0;
        margin-bottom: 30px;
    }

    .header-digital .caption h1{
        line-height: 1.1;
    }

    .header-digital {

        .order-md-4{
            margin-top: 50px;
        }

        .img-circle{
            display: none;
        }
    }

    .digital-marketing .caption h1{
        text-align: center;
    }

    .digital-marketing .shape{
        top: 0;
    }

    .digital-marketing .caption .text:after{
        display: none;
    }

    .digital-marketing .caption .text{
        padding-left: 0;
        text-align: center;
    }

    // about

    .hero-dark .circle-img-bord{
        display: none;
    }

    .about-modern .lg-bold-head h2{
        font-size: 130px;
    }

    .about-modern .content .img2,
    .about-modern .content .img3,
    .about-modern .content .img4{
        display: none;
    }

    .intro-1{
        position: relative;

        .cont{
            position: static;

            .vid{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }

    .why-us .sec-head .text .sub-font{
        font-size: 120px;
    }

    .why-us .img-top-left,
    .why-us .img-top-right{
        display: none;
    }

    .why-us{

        .g-img{
            max-width: 350px;
            margin: auto auto 50px;
        }
    }

    .team-action .cont{

        .justify-content-end{
            display: block !important;
        }

        .butn-circle{
            margin-top: 30px;
        }

        h2{

            &:after{
                display: none;
            }
        }
    }

    .about-modern .lg-sec-head h2{
        font-size: 100px;
    }

    .numbers .item{
        margin-left: auto;
        margin-right: auto;
    }

    // Services

    .serv-business .lg-bold-head h2{
        font-size: 140px;
    }


    // portfolio

    .work-stand2 .item{
        margin-top: 0 !important;
    }

    .work-stand .item{
        margin-bottom: 50px;
    }

    // footer

    footer .call-action h2{
        font-size: 100px;
    }

    footer .call-action h2 span{
        display: none;
    }

    footer .call-action{

        .justify-content-end{
            display: block !important;
            margin-top: 30px;
        }
    }

    footer{

        .info,
        .links{
            margin-bottom: 30px;
        }
    }

    footer .sub-footer{

        .justify-content-end{
            display: block !important;
            margin-top: 10px;
        }
    }

    // pages

    .page-header .caption h1{
        font-size: 100px;
    }

    .page-header{

        .img-circle{
            display: none;
        }

        .icon-img-80{
            width: 60px;
        }
    }

    .sidebar .widget.insta span{
        min-width: 32%;
    }

    .sidebar .widget.insta{
        text-align: center;

        .title-widget{
            text-align: left;
        }
    }

    .sec-head h2{
        font-size: 40px;
    }

    .main-post .author{
        display: block !important;

        .info{
            margin: 30px 0 0 !important;
        }
    }

    .portfolio-crev .work-boxs{
        display: block;

        .item{
            width: 100% !important;
            height: 250px;
            min-height: auto;

            &.active{
                height: calc(100vh - 250px*3);
            }
        }
    }

    .portfolio-tab{

        .cluom {

            &.current{

                .img-thum{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }

            &:first-of-type{

                &.current{

                    .img-thum{
                        transform: translateY(30%);
                    }
                }
            }

            .img-thum{
                display: block;
                opacity: 0;
                visibility: 0;
                transform: translateY(10%);
                transition: all .4s;
                z-index: 3;
            }
        }
    }

    .work-details .lg-bold-head{
        transform: translateY(65px);
    }

    .work-details .mas-img .img1{
        width: 100%;
        margin-bottom: 40px !important;
        transform: translateX(0);
    }

    .sm-footer{

        .logo{
            text-align: right !important;
        }
    }
    
}






@media screen and (max-width: $tablet-sm-screen) {

    .sm-mb10 {
        margin-bottom: 10px;
    }

    .sm-mb20 {
        margin-bottom: 20px;
    }

    .sm-mb30 {
        margin-bottom: 30px;
    }

    .sm-mb40 {
        margin-bottom: 40px;
    }

    .sm-mb50 {
        margin-bottom: 50px;
    }

    .sm-mb80 {
        margin-bottom: 80px;
    }

    .sm-pb10 {
        padding-bottom: 10px;
    }

    .sm-pb20 {
        padding-bottom: 20px;
    }

    .sm-pb30 {
        padding-bottom: 30px;
    }

    .sm-pb40 {
        padding-bottom: 40px;
    }

    .sm-pb50 {
        padding-bottom: 50px;
    }

    .sm-pb60 {
        padding-bottom: 60px;
    }

    .sm-pb70 {
        padding-bottom: 70px;
    }

    .sm-pb80 {
        padding-bottom: 80px;
    }
    
    .sm-hide{
        display: none;
    }

    .fz-70{
        font-size: 40px !important;
    }

    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 34px;
    }
    
    h3{
        font-size: 22px;
    }
    
    h4{
        font-size: 20px;

        &.fz-30{
            font-size: 24px !important;
        }
    }
    
    h5{
        font-size: 18px;
    }
    
    h6{
        font-size: 18px;
    }

    .loader-wrap .loader-wrap-heading .load-text{
        letter-spacing: 5px;
    }

    .progress-wrap{
        bottom: 15px;
        right: 15px;
    }

    .section-padding{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .sec-head h2{
        font-size: 32px;
    }
    
    .sec-head{
        position: relative;

        .icon{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 0 !important;
        }

        .head-cont{
            margin-top: 30px;
        }
    }

    .lg-bold-head h2{
        font-size: 60px;

        .icon{
            width: 14px !important;
        }
    }

    // header

    .header-business .caption h1{
        font-size: 70px;
    }

    header .contact-email{
        display: none;
    }

    .header-creative .caption{

        h1{
            font-size: 70px;

            .icon{
                padding-left: 60px;

                img{
                    width: 45px;
                }
            }

            .arrow{
                padding-left: 100px;

                img{
                    width: 85px;
                }
            }
        }
    }

    .header-creative{

        .main-img{
            display: none;
        }

        &:after{
            width: 50vw;
            height: 50vw;
        }
    }

    .dstudio .caption h1{
        font-size: 100px;
    }

    .dstudio .rotat-butn{
        position: relative;
        margin-bottom: 30px;
        right: auto;
    }

    .dstudio .img-1,
    .dstudio .img-2,
    .dstudio .img-3,
    .dstudio .img-4{
        display: none;
    }

    .header-digital .img-fixed{
        display: none;
    }

    .header-digital .caption h1{
        font-size: 90px;
    }

    .digital-marketing .caption h1{
        font-size: 65px;
    }

    // about

    .about-modern .lg-bold-head h2{
        font-size: 80px;
    }

    .about-modern .lg-bold-head h2 .inline .icon{
        width: 15px;
    }

    .intro-1 .dots-vector{
        display: none;
    }

    .why-us .sec-head .text .sub-font{
        font-size: 70px;
    }

    .why-us .sec-head .text .img-vector{
        width: 50px;
    }

    .team-action .cont h2{
        font-size: 60px;
    }

    .about-modern .lg-sec-head h2{
        font-size: 65px;

        .icon{
            width: 50px;
            margin-right: 15px;
        }
    }

    .team .main-marq h4{
        font-size: 120px;
    }

    // Services

    .serv-business .lg-bold-head h2{
        font-size: 80px;
    }

    .serv-business .lg-bold-head h2 .inline .icon{
        width: 15px;
    }

    .services-tab .cluom h6{
        margin-bottom: 10px;
    }

    .serv-dark .item{
        display: block !important;

        .num{
            margin: 0 0 10px !important;
        }

        .ml-80{
            margin-left: auto !important;
        }
    }

    .services-modern{

        .item .img{
            display: none;
        }

        .justify-content-end{
            justify-content: flex-start !important;
        }

        .num{
            margin-bottom: 15px;
        }

        .arrow{
            margin-top: 15px;
        }
    }

    // hero

    .intro-full-video .cont h2{
        font-size: 40px;
    }

    .faqs .main-marq h4{
        font-size: 80px;

        .icon img{
            width: 55px;
        }
    }

    .team-tab .main-marq h4{
        font-size: 150px;
    }

    .team-tab .team-tab-cont .cont h2{
        font-size: 65px;
    }

    // portfolio

    .sec-head .lg-title h2{
        font-size: 65px;
    }

    .work-carsouel .swiper-slide{
        padding: 0;
    }
    
    // testimonials

    
    // footer

    footer .call-action h2{
        font-size: 55px;
    }

    // pages

    .page-header .caption h1{
        font-size: 60px;
    }

    .page-header{

        .long-arw{
            display: none;
        }

        .icon-img-80{
            width: 40px;
        }

        .sub-font{
            margin-top: 30px;
        }
    }

    .sidebar .widget.insta span{
        min-width: 48%;
    }

    .main-post .tags{

        a{
            margin-top: 10px;
        }
    }

    .blogs .coments .item{
        display: block !important;

        .info{
            margin: 30px 0 0 !important;
        }

        &.replaed{
            margin-left: 30px;
        }
    }

    .portfolio-crev .work-boxs{

        .item{
            height: 350px;
            min-height: auto;
            background-position: center center;

            &.active{
                height: 350px;
            }
        }
    }

    .portfolio-tab .cluom .img-thum{
        width: 160px;
        height: 170px;
        right: 0;
        transform: translate(0) !important;
    }

    .portfolio-tab .cluom{

        h6{
            margin-bottom: 15px;
        }
    }

    .work-details .imgs .img,
    .work-details .mas-img .fit-img{
        height: 400px;
    }

}

@media screen and (max-width: $mobile-xs-screen) {

   
}

/* ====================== [ End Responsive ] ====================== */