
/* Portfolio
-----------------------------------------------------------------*/

.sec-head{

    .lg-title{

        h2{
            font-size: 120px;
            font-weight: 700;
            line-height: 1.1;
        }
    }
}

.filtering{
    padding: 10px 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 30px 50px rgba(0,0,0,.08);

    span{
        font-size: 16px;
        font-weight: 500;
        padding: 7px 15px;
        border-radius: 30px;
        position: relative;
        margin-right: 30px;
        cursor: pointer;

        &:after{
            content: "/";
            position: absolute;
            right: -20px;
        }

        &:last-of-type{
            margin-right: 0;

            &:after{
                display: none;
            }
        }

        &.active{
            background: $main_color;
        }
    }

    &.color2{

        span{

            &.active{
                color: #fff;
                background: $main_color2;
            }
        }
    }
}

.work-stand3{

    .item{
        position: relative;
        overflow: hidden;

        .img{
            height: 500px;
            border-radius: 15px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .cont{
            position: absolute;
            left: 30px;
            bottom: 30px;
            opacity: 0;
            visibility: hidden;
            transition: all .4s;
            z-index: 3;

            h6{
                padding: 5px 20px;
                background: #fff;
                border-radius: 30px;
                display: inline-block;
                font-weight: 500;
                color: $main_color2;
            }

            h4{
                color: #fff;
                font-size: 28px;
            }

            &:after,
            &:before{
                content: '';
                position: absolute;
                top: -200px;
                right: -200px;
                width: 700px;
                height: 700px;
                border-radius: 50%;
                background-color: $main_color2;
                opacity: .5;
                z-index: -1;
            }

            &:before{
                top: -170px;
                right: -170px;
                background: linear-gradient(200deg, #141414, $main_color2);
                opacity: .8;
                z-index: 2;
            }
            
        }

        &:hover{

            .cont{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    &.standerd{

        .item{
    
            .cont{
    
                h6{
                    background: $main_color;
                    color: #141414;
                }
    
                &:after,
                &:before{
                    background-color: $main_color;
                }
    
                &:before{
                    background: linear-gradient(200deg, #141414, $main_color);
                }
                
            }
        }
    }
}

.work-stand2{

    .item{
        position: relative;

        .cont{
            position: absolute;
            bottom: 30px;
            left: 30px;
            background: $main_color;
            border-radius: 10px;
            max-width: 350px;
            padding: 25px 30px;
            opacity: 0;
            visibility: none;
            transform: translateY(50px);
            transition: all .4s;

            .date{
                font-size: 14px;
                color: #666;
            }
        }

        &:hover{

            .cont{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

.work-stand{
    position: relative;

    &:after,
    &:before{
        content: '';
        width: 65vw;
        height: 65vw;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,.1);
        position: absolute;
        right: -5%;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        z-index: -1;
    }

    &:before{
        right: auto;
        left: -5%;
    }

    .item{
        position: relative;
        margin-bottom: 120px;
        overflow: hidden;

        &:hover{

            .img{

                .tag{
                    opacity: 1;
                    visibility: visible;
                }
            }

            .cont{
                opacity: 1;
                visibility: visible;
                transform: translate(0);
            }
        }

        .img{
            position: relative;
            height: 450px;

            .tag{
                position: absolute;
                top: 15px;
                left: 15px;
                padding: 5px 10px;
                border-radius: 5px;
                background: $sub_bg2;
                opacity: 0;
                visibility: hidden;
                transition: all .4s;
            }
        }

        .cont{
            background: #fff;
            padding: 25px 25px 0;
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transform: translateY(100%);
            transition: all .4s;

            h6{

                .icon{
                    width: 15px;
                    margin-right: 5px;
                }
            }

            .view{

                svg{
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.work-carsouel{

    .swiper-slide{
        display: flex;
        align-items: end;
        height: auto;
        padding: 0 40px;
    }

    .item{
        position: relative;
        overflow: hidden;

        .img1{
            width: 800px;
            height: 580px;
        }

        .img2{
            width: 800px;
            height: 500px;
        }

        .img3{
            width: 800px;
            height: 400px;
        }

        .img4{
            width: 800px;
            height: 570px;
        }

        .cont{
            position: absolute;
            left: 30px;
            bottom: 30px;
            opacity: 0;
            visibility: hidden;
            transition: all .4s;
            z-index: 3;

            h6{
                padding: 5px 20px;
                background: $sub_bg2;
                border-radius: 30px;
                display: inline-block;
                font-weight: 500;
            }

            h4{
                font-size: 28px;
            }

            &:after,
            &:before{
                content: '';
                position: absolute;
                top: -150px;
                right: -150px;
                width: 700px;
                height: 700px;
                border-radius: 50%;
                background: rgba(255,255,255,.5);
                z-index: -1;
            }

            &:before{
                top: -120px;
                right: -120px;
                background: rgba(255,255,255,.8);
            }
        }
    }

    .swiper-slide-active{

        .item{

            &:hover{

                .cont{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.work-carsouel2{

    .item{
        position: relative;
        overflow: hidden;

        .img{
            height: 600px;
        }
        
        .cont{
            position: absolute;
            left: 30px;
            bottom: 30px;
            opacity: 0;
            visibility: hidden;
            transition: all .4s;
            z-index: 3;

            h6{
                padding: 5px 20px;
                background: $main_color;
                border-radius: 30px;
                display: inline-block;
                font-weight: 500;
                position: relative;
                z-index: 3;
            }

            h4{
                font-size: 28px;
                position: relative;
                z-index: 3;
            }

            &:after,
            &:before{
                content: '';
                position: absolute;
                top: -150px;
                right: -150px;
                width: 700px;
                height: 700px;
                border-radius: 50%;
                background-color: $main_color;
                opacity: .5;
                z-index: -1;
            }

            &:before{
                top: -120px;
                right: -120px;
                background: linear-gradient(200deg, #fff, $main_color);
                opacity: .8;
                z-index: 2;
            }
        }

        &:hover{

            .cont{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.work-page{

        .item{

            .img{
                height: 580px;
                min-height: 75vh;
            }
        }
    }
}

.portfolio-crev{
    
    .work-boxs{
        display: flex;
    }

    .item{
        width: 350px;
        height: 600px;
        min-height: 60vh;
        margin: 0 4px;
        display: flex;
        transition: all .4s;

        .bg-img{
            width: 100%;
            height: 100%;
            background-size: cover;
            position: relative;

            .cont{
                width: max-content;
                background: #fff;
                padding-left: 30px;
                width: max-content;
                position: absolute;
                left: 0;
                bottom: -1px;
                opacity: 0;
                visibility: hidden;
                transition: all .4s;
    
                h6{
    
                    .icon{
                        width: 15px;
                        margin-right: 5px;
                    }
                }

                .arrow{
                    padding: 40px;
                    margin-left: 60px;
                    border-left: 1px solid rgba(0,0,0,.08);
                }
    
                .view{
    
                    svg{
                        transform: rotate(45deg);
                    }
                }
            }
        }

        &.active{
            width: calc(100vw - 140px*3);

           .bg-img{

                .cont{
                    opacity: 1;
                    visibility: visible;
                }
           }
        }
    }

    .social-text{

        a{
            margin-right: 25px;
            font-size: 13px;

            i{
                margin-right: 5px;
            }

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

.portfolio-tab{

    .cluom{
        position: relative;
        z-index: 1;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            border-bottom: 1px solid #141414;
            transition: all .4s;
        }
        
        &.current{
            z-index: 2;

            h5{
                text-decoration: underline;
                text-decoration-color: rgba(0,0,0,.2);
            }
           
            &:after{
                width: 100%;
            }
        }

        .img-thum{
            position: absolute;
            bottom: 0;
            right: 50px;
            width: 280px;
            height: 320px;
            display: none;
        }
    }

    .glry-img{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .bg-img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scale(1.1,1.1);
			opacity: 0;
			transition: all .7s;
			background-size: cover;
			background-position: center center;

			&.current{
				transform: scale(1);
				opacity: 1;
			}
        }
    }
}

.work-details{

    .lg-bold-head{
        transform: translateY(150px);
        position: relative;
        z-index: -1;
    }

    .cont{

        .social{
            margin-top: 30px;

            a{
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 2px;
                background: rgba(0,0,0,.05);
                color: #141414;
                transition: all .4s;

                &:hover{
                    background: #141414;
                    color: #fff;
                }
            }
        }
    }

    .imgs{

        .img{
            height: 550px;
        }
    }

    .mas-img{

        .img1{
            height: 600px;
            width: 110%;
            transform: translateX(-40%);
            margin-bottom: 140px;
        }

        .img2{
            height: 600px;
        }

        .img3{
            height: 800px;
        }
    }
}