
/* Services
-----------------------------------------------------------------*/

.services-tab{

    .cluom{
        position: relative;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            border-bottom: 1px solid #141414;
            transition: all .4s;
        }
        
        &.current{
           
            &:after{
                width: 100%;
            }
        }
    }

    .glry-img{
        width: 100%;
        height: 100%;
        position: relative;

        .bg-img{
            position: absolute;
            top: calc(50% - 250px);
            left: 40px;
            right: 40px;
            height: 500px;
            transform: scale(1.1,1.1);
			opacity: 0;
			transition: all .7s;
			background-size: cover;
			background-position: center center;

			&.current{
				transform: scale(1);
				opacity: 1;
			}
        }
    }
}

.services{

    .item{
        background: #FAFDFB;
        padding: 60px 30px;

        .icon{
            width: 120px;
            margin: 0 auto 30px;
        }

        .arrow{
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid rgba(0,0,0,.15);
            transition: all .4s;

            &:hover{
                background: #141414;

                svg{
                    
                    path{
                        stroke: #fff;
                    }
                }
            }
        }
    }
}

.serv-dark{

    .item{
        position: relative;
        transition: all .4s;

        .img{
            position: absolute;
            top: 0px;
            right: 0;
            width: 200px;
            height: 240px;
            opacity: 0;
            transition: all .4s;
        }

        &:hover{
            border-color: #eee;

            .img{
                top: -60px;
                opacity: 1;
            }
        }
    }
}

.serv-box{

    .swiper-wrapper{
        padding: 30px 0;
    }
    
    .item{
        padding: 60px;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 10px;
        transition: all .4s;

        &:hover{
            box-shadow: 0px 10px 30px rgba(0,0,0,.05);
            border-color: transparent;

            h5{
                text-decoration: underline;
            }

            .arrow{
                background: #141414;

                svg{
                    
                    path{
                        stroke: #fff;
                    }
                }
            }
        }

        .arrow{
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid rgba(0,0,0,.1);
            transition: all .4s;
        }
    }

    .swiper-pagination{
        position: static;
    }
}

.services-modern{
    position: relative;
    z-index: 3;
    
    .intro-img{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 850px;
        transform: translateX(-60%);
        z-index: -1;
    }

    .item{
        padding: 30px;
        border-radius: 15px;
        background: #202020;
        position: relative;
        z-index: 1;

        &:hover{
            z-index: 2;
        }

        .img{
            width: 300px;
            height: 350px;
            position: absolute;
            top: 70%;
            right: 100px;
            opacity: 0;
            transform: translateY(-50%);
            transition: all .4s;
            pointer-events: none;
        }

        .cont{

            h5{
                margin-bottom: 15px;
            }
        }

        .arrow{
            width: 65px;
            height: 65px;
            line-height: 65px;
            text-align: center;
            border: 1px solid rgba(255,255,255,.2);
            border-radius: 50%;

            svg{
                width: 20px;
            }
        }

        &:hover{

            .img{
                top: 50%;
                opacity: 1;
            }

            h5{
                text-decoration: underline;
            }

            .arrow{
                background: $sub_bg2;

                svg{
                    
                    path{

                        stroke: #141414;
                    }
                }
            }
        }
    }
}

.serv-business{

    .lg-bold-head{
        position: relative;

        &:after{
            content: '';
            position: absolute;
            top: 50%;
            right: -250px;
            width: 280px;
            border-bottom: 1px solid #141414;
            transform: rotate(-45deg);
        }

        h2{
            font-size: 265px;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1;

            .inline{
                display: inline;
                position: relative;

                .icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-45%);
                    width: 40px;
                    height: 100%;
                }
            }
        }

    }

    .item{
        border-radius: 30px;
        border: 1px solid rgba(0,0,0,.1);

        .cont{
            position: relative;
            padding: 0 30px 30px;

            &:after{
                content: '';
                width: 35px;
                height: 35px;
                border: 1px solid #141414;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                top: -55px;
                right: 45px;
            }

            &:before{
                content: '';
                width: 35px;
                height: 35px;
                border: 1px solid #141414;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                top: -40px;
                right: 30px;
            }
        }
    }
}